@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Poppins', sans-serif;
}

h1{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right,#252525,#5425b3);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 3.7rem;
    letter-spacing: 2px;
    margin: 0;
}

.barradenavegacion{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    z-index: 1;
    height: 4rem;
}

.nombrebarradenavegacion{
    margin-left: 100px;
}

#navnombre{
    color: #5425b3;
    font-weight: bold;
}

.itemsbarradenavegacion{
    text-align: right;
    margin-right: 100px;
}

.itemsbarradenavegacion a{
    color: #252525;
    font-weight: bold;
}

.itemsbarradenavegacion a:hover{
    color: #5425b3;
}

.presentacion{
    background-color: #f7f7f7;
    margin-top: 4rem;
}

.titulopresentacion{
    margin-top: 7rem;
}

.titulopresentacion h1{
    color: linear-gradient(to right,#252525,#5425b3);
    font-weight: bold;
}

.subtitulo{
    margin-right: 45px;
}

.descripcion{
    margin-top: 1.5rem;
    color: #252525;
}

.subtitulo1{
    margin-right: 140px;
}

.nombre{
    color: #5425b3;
    font-weight: bold;
}

.subtitulo2{
    margin-left: 10px;
}

.subtitulo3{
    margin-right: 225px;
}

.redes{
    margin-right: 260px;
}

.redes img{
    width: 30px;
    color: #252525;
}

.git{
    margin: 30px;
}

.imagenpresentacion{
    margin-top: 7rem;
}

.imagenpresentacion img{
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    flex: 1 1 21rem;
    height: 250px;
    width: 250px;
    border-radius: 30%;
    border: 2px solid #252525;
}

.skills{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 9rem;
}

.skills h3{
    font-weight: bold;
    color: #252525;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    margin: 0 0 2rem;
}

.skillsiconos{
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    width: 37rem;
    margin-bottom: 5rem;
}

.skillsiconos img{
    height: 2.5rem;
    width: 2.5rem;
}

#botsimg{
    width: 3rem;
}

.skillsiconos img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.sobremi{
    align-items: center;
    background-color: #ededed;
    padding: 6.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobremititulo{ 
    color: #5425b3;
    margin-bottom: 3rem;
    border-bottom: 3px solid #5425b3;
}

.sobremititulo h2{
    font-weight: bold;
    font-size: 1.7rem;
    margin: 0;
    padding: 0 0 0.3rem;
}

.sobremicontainer{
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.sobremitexto{
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    position: relative;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.sobremi-img img{
    background-position-y: 21%; 
    background-size: cover; 
    border-radius: 50%;
    height: 10rem;
    position: absolute;
    right: -4rem;
    top: -4rem;
    width: 10rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.sobremitexto h3{
    font-weight: bold;
    color: #252525;
}

.sobremitexto p{
    margin-top: 1rem;
    color: #252525;
}

.resaltar{
    color: #5425b3;
}

.proyectos-cotainers{
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 3rem;
}

.titulo-proyecto{
    margin: 0 0 3rem;
    padding-top: 6rem;
}

.titulo-proyecto h2{
    border-bottom: 3px solid #5425b3;
    color: #5425b3;
    font-size: 1.7rem;
    margin: 0;
    padding: 0 0 0.3rem;
    font-weight: bold;
}

.proyectos-card{
    grid-gap: 3rem;
    box-sizing: border-box;
    display: grid;
    gap: 3rem;
    grid-template-columns: minmax(0,1fr);
    grid-template-rows: minmax(0,1fr);
    margin-bottom: 8rem;
}

.proyecto1{
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.tituloproyecto h3{
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #252525;
}

.tituloproyecto p{
    font-size: 1.3rem;
}

.tecnologias{
    margin-top: 5.6rem;
}

.tecnologias img{
    height: 2.5rem;
    width: 2.5rem;
}

.tecnologias img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.trabajo1{
    margin-top: 7.3rem;
}

.trabajo2{
    margin-top: 3.7rem;
}

.trabajo3{
    margin-top: 5.4rem;
}

.trabajo4{
    margin-top: 7.8rem;
}

.tecnologias h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #252525;
}

.tecnologias img{
    margin: 20px;
}

.imagen-proyecto img{
    width: 30rem;
    height: 20rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.imagen-proyecto img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.imagenproyecto-iconos img{
    width: 30px;
}

.repositorios{
    margin-top: 1rem;
}
.repositorios img{
    width: 2rem;
}

.Contacto-Footer-contenedor{
    align-items: center;
    background-color: #ededed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 6.5rem;
}

.Contacto-contenedor{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0 11rem 6.5rem;
    width: 100%;
    margin-bottom: 4rem;
}

.Contacto-titulo{
    border-bottom: 3px solid #5425b3;
    color: #5425b3;
    font-size: 1.7rem;
    margin: 0 0 3rem;
    padding: 0 0 0.3rem;
    font-weight: bold;
}

.Contacto-subtitulo{
    font-size: 1rem;
    margin: 0 0 2rem;
    text-align: center;
    width: 30rem;
}

.Contacto-subtitulo span{
    color: #5425b3;
}

.Contacto-card{
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 6rem;
}

.Contacto-link{
    align-items: center;
    display: flex;
    justify-content: center;
}

.Contacto-link img{
    padding: 0.5rem 1rem;
    width: 70px;
}

.Contacto-link p{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.footer{
    align-items: center;
    background: linear-gradient(to right,#252525,#5425b3);
    display: flex;
    height: 6.5rem;
    justify-content: center;
    width: 100%;
}

.footer p{
    color: #fff;
    font-weight: 400;
    margin: 0;
}

